<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>

    <style>
    .center {
        padding: 20px;
        margin: 0 auto;
        text-align: -webkit-center;
    }
    .button{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }


    </style>

</head>
<body>

<th:block th:include="/header"></th:block>

<h1 class="center"> Book update/delete </h1>

<form th:action="@{/book/findByIsbn}" method="get" class="center">
    <div>

        <p>Isbn: <input th:name="isbn"/></p>

        <input class="button" type="submit" value="Search">
        <input class="button" type="reset" value="Reset">
    </div>


</form>


<form th:action="@{/book/update}" th:object="${book}" method="post" class="center">
    <table class="center">
        <tr>
            <td>Isbn</td>
            <td><input type="text" readonly th:field="${book.isbn}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="${book.name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="${book.price}"></td>
        </tr>
        <tr>
            <td>PageSize</td>
            <td><input type="text" th:field="${book.pageSize}"></td>
        </tr>
        <tr>
            <td>PublishDate</td>
            <td><input type="date" th:field="${book.publishDate}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="${book.description}"></td>
        </tr>
        <tr>
            <td>Genre</td>
            <td><input type="text" th:field="${book.genre}"></td>
        </tr>


        <tr>
            <td>
                <input class="button" type="submit" name="action" value="Update">
                <input class="button" type="submit" name="action" value="Delete">
            </td>
        </tr>

    </table>
</form>
</body>
</html>