<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>

    <style>
        .center {
            padding: 20px;
            margin: 0 auto;
            text-align: -webkit-center;
        }
    </style>

</head>
<body>

<th:block th:include="/header"></th:block>

<h1 class="center"> Book Details </h1>

<table class="center">
    <tr th:id="${book.id}" th:object="${book}">
        <td>
            <img style="width: 120px; height: 150px"
                 th:src="@{${'/resources/images/' + book.imageName}}"/>
        </td>
        <td>
            <table>
                <tr>
                    <td th:text="${book.name}"></td>
                </tr>
                <tr>
                    <td th:text="${'by ' + book.author}"></td>
                </tr>
                <tr>
                    <td th:text="${book.price + ' USD'}"></td>
                </tr>
                <tr>
                    <td th:text="${book.pageSize + ' pages'}"></td>
                </tr>
                <tr>
                    <td th:text="${book.publishDate + ' date'}"></td>
                </tr>
                <tr>
                    <td th:text="${book.description}"></td>
                </tr>
                <tr>
                    <td th:text="${book.getRating()}"></td>
                </tr>

                <form th:action="@{/book/addToCard(isbn=${book.isbn})}" method="post">
                    <td class="center">
                        <input type="submit" value="Add to Card" style="background-color: green; color: white">
                    </td>

                </form>

            </table>
        </td>
    </tr>

</table>
<br><br>
<h2 class="center">Review Details</h2>

<table class="center">
    <tr th:id="${review.id}" th:each="review : ${book.reviews}">
        <td>
            <table class="center">
                <tr>
                    <td th:text="${'Username: ' + review.getUser().email}" style="font-weight: bold"></td>
                </tr>
                <tr>
                    <td th:text="${'Rating: ' + review.rating}" style="font-weight: bold"></td>
                </tr>
                <tr>
                    <td th:text="${review.comment}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<form th:action="@{/book/review}" th:object="${review}" method="post" class="center">
    <table class="center">
        <tr>
            <td>Rate</td>
            <td><input type="text" th:field="*{rating}"></td>
        </tr>
        <tr>
            <td>Comment</td>
            <td><input type="text" th:field="*{comment}"></td>
        </tr>
        <tr>
            <td class="center">
                <input type="submit" value="Review">
                <input type="submit" value="Reset">
            </td>
        </tr>
    </table>
</form>
</body>
</html>