<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>

    <style>
    .center {
        padding: 20px;
        margin: 0 auto;
        text-align: -webkit-center;
    }
    </style>

</head>
<body>
<th:block th:include="/header"></th:block>

<h1 class="center"> User registration </h1>

<form th:action="@{/user/register}" th:object="${user}" method="post" class="center">
    <table class="center">
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Surname</td>
            <td><input type="text" th:field="*{surname}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{confirmPassword}"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select th:field = "*{gender}">
                    <option value="">---</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </td>
        </tr>
        <tr>
        <td class="center">
            <input type="submit" value="Register">
            <input type="reset" value="Reset">
        </td>
        </tr>


</form>
</body>
</html>