<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>

    <style>
        .center {
            padding: 20px;
            margin: 0 auto;
            text-align: -webkit-center;
        }
        .button{
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 12px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
        }
    </style>

</head>
<body>
<th:block th:include="/header"></th:block>


<h1 class="center"> User Login</h1>

<form th:action="@{/user/login}" method="post" class="center">

    <table class="center">
        <tr>
            <td>Email</td>
            <td><input type="text" th:name="email" placeholder="Email"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:name="password" placeholder="Password"></td>
        </tr>

    </table>
    <div class="center">
        <input class="button" type="submit" value="Login">
        <input class="button" type="reset" value="Reset">
    </div>

</form>
</body>
</html>